:root {
  --bg-primary: #171717;
  --bg-secondary: #242424;
  --accent: #0de4e7;
}

* {
  box-sizing: border-box;
  font-family: "Poppins";
  transition: 300ms ease;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  transition: 500ms ease;
  position: relative;
}
.scrollup {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #005354;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 94vw;
  top: 90vh;
}
.scrollup .icon {
  font-size: 25px;
  color: whitesmoke;
}

/* ------------------------ */
.header {
  z-index: 10;
  width: 100vw;
  height: 12vh;
  top: 0;
  position: sticky;
  background-color: var(--bg-primary);
  display: flex;
  align-items: center;
  color: white;
}

/* ------------------------ */

.logo {
  font-weight: bold;
  font-size: 40px;
}

/* ------------------------ */

.nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navlinks {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 18px;
}
.navlinks a {
  color: white;
  text-decoration: none;
  transition: 300ms ease;
}
.navlinks a:hover {
  color: #005354;
}
.hamburger {
  display: none;
}
.hamburger a {
  text-decoration: none;
}
.hamburger .icon {
  font-size: 30px;
  color: whitesmoke;
}

/* ------------------------ */

.hero {
  width: 100vw;
  height: 88vh;
  background-color: var(--bg-secondary);
  color: white;
}

/* ------------------------ */

.main_section {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}

/* ------------------------ */

.aside {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------ */

.aside_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5cqmax;

  text-align: center;
}
.aside_content .heading {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}
.aside_content .sub_heading {
  font-size: 20px;
  font-weight: lighter;
  margin: 0;
}
.aside_content .description {
  font-size: 16px;
  margin: 0;
}
.aside_content button {
  width: 140px;
  padding: 15px 25px;
  color: whitesmoke;
  background-color: var(--bg-secondary);
  border: 3px solid whitesmoke;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  transition: 500ms ease;
}
.aside_content button:hover {
  color: #101010;
  background-color: whitesmoke;
}

/* ------------------------ */

.main_bg {
  height: 100%;
  width: 65%;
  overflow: hidden;
}
.main_bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ------------------------ */

.second_section {
  height: 200dvh;
  width: 100dvw;
  background-color: var(--bg-primary);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------ */

.second_heading {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  width: 100%;
  height: 10%;
  /* background-color: aqua; */
}
.second_heading .main {
  font-size: 40px;
  margin: 0;
}
.second_heading .description {
  font-size: 20px;
  margin: 0;
  color: whitesmoke;
}

/* ------------------------ */

.img_grid {
  color: black;
  /* background-color: bisque; */
  margin: 20px 0;
  height: 60%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  transition: 500ms ease-in;
}

/* ------------------------ */

.top_left {
  grid-area: 1/1/2/2;
  position: relative;
  background-color: whitesmoke;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.top_left:hover img {
  transform: scale(1.2);
}
.top_left:hover .innertext {
  transform: translateY(0%);
}
.top_left img {
  height: 100%;
  width: 100%;
  transition: 500ms ease;
  object-fit: cover;
}

/* ------------------------ */

.bottom_left {
  grid-area: 2/1/3/2;
  position: relative;
  background-color: whitesmoke;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.bottom_left:hover img {
  transform: scale(1.2);
}
.bottom_left:hover .innertext {
  transform: translateY(0%);
}
.bottom_left img {
  height: 100%;
  width: 100%;
  transition: 500ms ease;
  object-fit: cover;
}

/* ------------------------ */

.center {
  grid-area: 1/2/3/3;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
}
.innertext {
  transform: translateY(100%);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.836), rgba(0, 0, 0, 0));
  height: 100%;
  transition: 500ms ease;
  color: white;
  position: relative;
}
.innertext div {
  bottom: 0;
  padding-bottom: 50px;
  position: absolute;
}

.center:hover img {
  transform: scale(1.2);
}
.center:hover .innertext {
  transform: translateY(0%);
}
.center img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 500ms ease;
}

/* ------------------------ */

.top_right {
  grid-area: 1/3/2/4;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.top_right:hover img {
  transform: scale(1.2);
}
.top_right:hover .innertext {
  transform: translateY(0%);
}
.top_right img {
  height: 100%;
  width: 100%;
  transition: 500ms ease;
  object-fit: cover;
}

/* ------------------------ */

.bottom_right {
  grid-area: 2/3/3/4;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.bottom_right:hover img {
  transform: scale(1.2);
}
.bottom_right:hover .innertext {
  transform: translateY(0%);
}
.bottom_right img {
  height: 100%;
  width: 100%;
  transition: 500ms ease;
  object-fit: cover;
}

/* ------------------------ */

.innertext {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

/* ------------------------ */

.stats {
  display: flex;
  height: 20%;
  width: 100%;
  margin: 30px;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}
.statcard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 25%;
}
.icon {
  font-size: 50px;
  color: var(--accent);
}
.statcard h1 {
  font-size: 30px;
  margin: 0;
}
.statcard p {
  margin: 0;
  font-size: 20px;
}

/* ------------------------ */

.faq {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}
.third_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  height: 25%;
  /* background-color: violet; */
}
.third_heading h1 {
  font-size: 40px;
  margin: 0;
}
.third_heading p {
  font-size: 20px;
  margin: 0;
}
.question_section {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 80%;
  height: 75%;
  display: flex;
  /* background-color: blueviolet; */
}
.questions {
  width: 50%;
  /* background-color: greenyellow; */
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.question {
  width: 100%;
  height: 25%;
  border-bottom: 3px solid #005354;
  font-size: 18px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.question_freq {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.freq {
  width: 100%;
  height: 25%;
  font-size: 15px;
  border-radius: 10px;
  padding: 10px;
}
.freq input {
  width: 100%;
}

.range1 {
  accent-color: rgb(250, 90, 90);
}
.range2 {
  accent-color: rgb(181, 103, 253);
}
.range3 {
  accent-color: rgb(104, 255, 104);
}
.range4 {
  accent-color: rgb(248, 62, 248);
}

/* ------------------------ */

.testimonials {
  width: 100vw;
  height: 150vh;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}
.fourth_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  height: 15%;
  padding: 0;
}
.fourth_heading h1 {
  font-size: 40px;
  margin: 0;
}
.fourth_heading p {
  font-size: 20px;
  margin: 0;
}
.testimony {
  background-color: #101010;
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 80%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile {
  margin-top: 50px;
  width: 100%;
  height: 50%;
  display: flex;
  padding: 0;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile_name h1 {
  color: #005354;
}
.profile_pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 4px solid #005354;
  overflow: hidden;
}
.profile_pic img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.comment {
  height: 50%;
  width: 100%;
  padding: 50px 150px;
  font-size: 22px;
  font-weight: lighter;
  font-style: italic;
}

/* ------------------------ */

.contact {
  width: 100vw;
  height: 25vh;
  background-color: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact h1 {
  color: whitesmoke;
  margin-left: 10px;
  font-size: 40px;
}
.contact .italic_text {
  font-style: italic;
  font-weight: 100;
}
.contact button {
  width: 140px;
  padding: 15px 25px;
  color: whitesmoke;
  background-color: #101010;
  border: 3px solid whitesmoke;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 20px;
  transition: 500ms ease;
}
.contact button:hover {
  color: #101010;
  background-color: whitesmoke;
}

/* ------------------------ */

.blogs {
  width: 100vw;
  height: 130vh;
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: whitesmoke;
}
.fifth_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  height: 20%;
  /* background-color: violet; */
}
.fifth_heading h1 {
  font-size: 40px;
  margin: 0;
}
.fifth_heading p {
  font-size: 20px;
  margin: 0;
}
.blog_posts {
  margin-bottom: 50px;
  width: 90%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.card {
  background-color: #101010;
  height: 100%;
  width: 33%;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}
.card_img {
  width: 100%;
  height: 60%;
}
.card_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card_content {
  width: 100%;
  height: 40%;
  padding: 10px 20px;
  margin: 0;
}
.card_content h4 {
  font-weight: lighter;
  color: var(--accent);
}
.card_content p {
  font-size: 15px;
}

/* ------------------------ */

.footer {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: whitesmoke;
}
.footer_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 20%;
  padding: 20px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  gap: 20px;
}
.social .icons {
  color: whitesmoke;
  font-size: 40px;
}
.search {
  width: 100%;
  height: 18%;
  margin: 5px;
  padding: 0;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
}
.search input {
  width: 70%;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
  padding: 15px;
  background-color: #101010;
  color: whitesmoke;
}
.search button {
  display: inline-block;
  height: 100%;
  width: 30%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  background-color: #005354;
  font-size: 20px;
  color: whitesmoke;
  transition: 500ms ease;
}
.search button:hover {
  background-color: whitesmoke;
  color: #101010;
}
.footer_links h1 {
  font-size: 50px;
  text-decoration: underline;
  color: var(--accent);
}
.footer_content {
  width: 90%;
  height: 40%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-evenly;
}
.footer_card {
  width: 25%;
  height: 100%;
}
.copyright {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101010;
}

/* ------------------------ */

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  height: auto;
  opacity: 0;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  /* background-color: #005354; */
  right: -70px;
  overflow: hidden;
  min-width: 160px;
  z-index: 1;
  padding: 6px;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  height: 100%;
  width: 100%;
  display: block;
}
.dropdown-content li {
  display: flex;
  align-items: center;
  background-color: rgb(161, 201, 228);
  padding-left: 10px;
  padding-top: 5px;
  list-style: none;
  border-radius: 5px;
  height: 40px;
  width: 100%;
}
.dropdown-content li:hover {
  background-color: #101010;
}

.dropdown-content li:hover a {
  color: whitesmoke;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
}
